mockito-5.5.0
apache-jena-fuseki-4.10.0
jena-4.10.0-source-release
apache-jena-4.10.0
jena-4.10.0
*.jar
*.html
*.exe
*.dll
*.jmod
*.md
LICENSE
*.ja
openjdk-21.0.1_windows-x64_bin
openjfx-21.0.1_windows-x64_bin-sdk
ats-distrib-4.1.0-20180928.101205-138
ats-distrib-4.1.0-20180928.101205-138-javadoc
*.pdf
pdfbox-app-3.0.1
pdfbox_trunk/
*.7z





