h1
{color: blue;
font-size: 150%;
text-align:center;
}
h1 .constructeur
{
text-align:center;
}

p
{
color:rgb(46,84,22);
}

#en_tete p
{
text-align:center;
color:green;
}
#en_tete_yamaha
{
background:url("images/logoyamaha.jpg") repeat-x;
text-align:center;
color:green;
}
#en_tete_voxan
{
background:url("images/logovoxan.gif") repeat-x;
text-align:center;
color:green;
}

#en_tete_kawasaki
{
background:url("images/logokawasaki.gif") repeat-x;
text-align:center;
color:green;
}
#en_tete_suzuki
{
background:url("images/logosuzuki.jpg") repeat-x;
text-align:center;
color:green;
}
#en_tete_honda
{
background:url("images/logohonda.gif") repeat-x;
text-align:center;
color:green;
}

#menu
{
width:150px;
text-align:left;
color:#FFFFFF;
position:absolute;
top:25%;
background-color:rgb(216,248,90);
border: red outset;
outline: #dc1717 groove;
}

li
{
list-style: circle outside;
text-align:left;
color:#FFFFFF;
border:solid 1px white;
color:red;
}

.sousmenu
{
list-style:square outside;
}

li a
{color: red;
}

#corps
{
position:absolute;
left:220px;
}

caption
{
margin-left:250px;
color:#488812;
}

.tab-constructeur
{
margin-left:250px;
text-align:center;
border:outset 4px green;
border-collapse:collapse;
position:absolute;
top:200px;
}
.tab-suzuki
{border:outset 4px green;
text-align:center;
border-collapse:collapse;
}

.cellules-constructeur
{
width:100px;
color:red;
border:solid 1px navy;
}
.cellules-constructeur a
{color:blue;
text-decoration:none;
}
.cellules-suzuki
{
border:solid 1px black;
}
.entete-constructeur
{
font-size:120%;
border-left:solid 1px red;
color:rgb(255,128,192);
}

.entete-suzuki
{
color:red;
border-left:solid 1px blue;
}

.clear-left, #kx450, #kx250,#kx125, #kx85,#kx65, #rm-z450,#rm250, #rm125,#rm85, #yz450,#yz250,#yz125,#yz85,#cr450,#cr250,#cr125,#cr85
{
clear:left;
}


.photo-moto
{
float:left;
width:350px;
}
.video-moteur
{
width:500px;
height:300px;
position:absolute;
left:50%;
float:left;
top:25%;
}

.video-moteur2
{
width:500px;
height:300px;
position:absolute;
left:50%;
top:100%;
}


#expli-moteur
{
color:rgb(15,3,122);
width:400px;
position:absolute;
left:220px;
top:100px;
}

#expli-moteur h2 
{color:red;
}

#expli-moteur strong
{color:rgb(118,27,152);
font-size:1.1em;
}

#page-accueil
{
background-image: url("images/fond1.jpg");
background-repeat:no-repeat;
}
#page-constructeurs
{
background-image: url("images/fond6.jpg");
background-repeat:no-repeat;
}

.news
{
height:80px;
width:100px;
color:red;
position:absolute;
left:-200px;
top:-50px;
}

#kx450, #kx250,#kx125, #kx85,#kx65, #rm-z450,#rm250, #rm125,#rm85, #yz450,#yz250,#yz125,#yz85,#cr450,#cr250,#cr125,#cr85
{color:rgb(38,105,5);
font-size:1.5em;
}

#honda, #suzuki,#kawasaki,#yamaha
{
color:red;
font-size:2em;
clear:left;
}
.photo-signe
{float:left;
}